:root{
--mainColor:#15202B;
--secondaryColor: #192734;

--boarderColor: #164D56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotboarder: #fff;

  --previewBg: Rgba(25, 39, 52, 0.8);
  --previewShadow: #111921;
  --btnColor: #17a2b8;
}
